/* http://jsfiddle.net/MadLittleMods/QAnmN/ */
/* https://jsfiddle.net/jegn4x0f/5/  == https://stackoverflow.com/questions/36388485/using-css-transform-scale-to-zoom-into-an-element-without-cropping-maintainin */
@import 'reset.css';

:root {
    --brand-primary: #360dff;
	--brand-inverse: #2f2a24;
	--brand-inverse-darker: #25211d;
    --brand-white: #b4aa9d;

    --border-base: .125em;
    /* --bg-opacity: rgba(255, 255, 255, .25); */
	/* --bg-opaque: rgba(255, 255, 255, .25); */
	
	--brand-opaque: rgba(255, 255, 255, .25);

	/* --brand-typeface: 'industry', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
	--brand-typeface: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	
	--spacer: 1.25em;

}


body, 
html {
    height: 100%;
    width: 100%;
    background: var(--brand-inverse);
	font-family: var(--brand-typeface);
}


img {
	display: block;
	margin: 0 auto;
}


/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */

.tree-wrapper {
	display: flex;
	align-items: center;
	height: 100%;
}

.tree-msg {
	width: 100%;
	text-align: center;
	color: white;
	font-size: 1.25em;
	line-height: 1.25em;
	font-weight: 300;
}

.binary {
	padding: 0; 
	margin: 0;
	display: none;
	width: 100%;
	text-align: center;
	list-style: none;
	/* background-color: blue; */
}

/* 
	media queries mobile landscape 
*/
@media only screen 
	and (orientation : landscape) { 
		
		.binary { display: block }
		.tree-msg { display: none }

}

.binary ul li {
	display: block;
	width: 50%;
}

.binary li a { 
	position: relative;
	margin: 0 auto;
	margin-bottom: 20px;
	display: block;
	width: 50%;
	text-decoration: none;
	font-size: .75em;
	color: white;
}


/* 
	vertical middle border conecting nodes 
*/
.binary ul {  position: relative; }
.binary ul:after {
	content: '';
	position: absolute;
	bottom: 10px;
	left: calc(50% + 1px);
	width: 2px; height: 50px;
	background-color: white;
}

/* 
	left and right node borders 
*/
.binary li { position: relative }

/* tree border bottom default */
.binary li::after {
	content: '';
	width: 50%;
	height: 2px;
	background-color: white;
	position: absolute;
	top: 105px; left: 50%;
	transform: translate(-50%, -50%);
}

/* adjusting second level bottom border */
/* .binary ul li::after { top: 105px; } */

/* hidding last children bottom borders */
.binary ul li li::after { display: none }

/* 
	left right borders 
*/
.binary li a:after, 
.binary li a::before {
	content: '';
	height: 20px;
	width: 2px;
	position: absolute;
	bottom: -30px;
	background-color: white;
}

/* default left / right border positions */
.binary li a:after { left: -50%; }
.binary li a:before { right: -50%; }

/* adjusting left/right border positions */
.binary ul li a:after { left: -1px; }
.binary ul li a:before { right: 0; }

/* hidding last level left right borders */
.binary ul ul li a:after, 
.binary ul ul li a::before { display: none; }

/* resize width of uls */
.binary li a { width: 25%; }
.binary ul li a { width: 50%; }
.binary ul ul li a { 
	width: 90%; 
	margin-bottom: 0;
}

.binary ul li:nth-child(odd) { float: left; }
.binary ul li:nth-child(even) { float: right; }


/* 
	binary card 
*/
.binary .binary-avatar {
	position: relative;
	height: 24px;
	width: 24px;
	padding: .625em;

	border: 2px solid var(--brand-opaque);
	background-color: var(--brand-inverse-darker);
	border-radius: 6.25em;
	z-index: 3;
}


/* ========================================================================== */
/* binary card theme */
/* ========================================================================== */
.binary-card {
	border: 1px solid var(--brand-opaque);
	background-color: var(--brand-inverse);
	margin: -1em auto 0;
	transition: box-shadow 300ms ease-in-out;
	z-index: 1;
	position: relative;
}
.binary-card:hover { box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); }

.binary-card-header {
	width: 100%;
	padding-top: 1.5em;
	padding-bottom: .5em;
	border-bottom: 1px solid var(--brand-opaque);
}
.binary-card-footer {
	width: 100%;
	display: grid;
	grid-template-columns: auto auto;
}
.binary-card-footer > span {
	padding-top: .5em;
	padding-bottom: .5em;
	text-align: center;
}
.binary-card-footer span:last-child { border-left: 1px solid var(--brand-opaque); }



/* ========================================================================== */
.btn {	
	padding: 10px 20px;
	background-color: var(--brand-primary);
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .75em;
	font-weight: 600;
	letter-spacing: 1px;
	border-radius: 4px;
}

.btn-fixed {
	position: fixed;
	top: .625em; left: .625em;
}